<aside xmlns:th="http://www.thymeleaf.org"
       th:fragment="asideFragment">

    <a th:href="@{/post/add}" class="btn-action">글쓰기</a>
    <a th:href="@{/post/update}" class="btn-action">글수정</a>
    <a th:href="@{/post/delete}" class="btn-action">글삭제</a>

    <span class="nav-label">Boards</span>
    <div class="nav-divider"></div>

    <div th:if="${boardList != null}" th:each="board : ${boardList}">
        <a th:href="@{/board/{boardId}(boardId=${board.boardId})}" class="btn-action" th:text="${board.name}"></a>
    </div>

    <a th:href="@{/board}" class="btn-action">board</a>
    <a th:href="@{/post}" class="btn-action">post</a>

</aside>