<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JH Works</title>
    <link rel="stylesheet" th:href="@{/css/BASE.css}">
    <th:block layout:fragment="css"></th:block>
</head>
<body>
<header th:replace="~{layout/header :: headerFragment}"></header>
<aside th:replace="~{layout/aside :: asideFragment}"></aside>
<main>

        <div layout:fragment="content"></div>
</main>

<footer th:replace="~{layout/footer :: footerFragment}"></footer>
<script th:src="@{/js/BASE.js}"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>