<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<div layout:fragment="content">
    <div class="form-container">
        <form th:action="@{/post/delete}" th:object="${post}" method="post">
            <!-- 1. th:field를 사용하면 id와 name이 자동으로 PostDTO 필드에 매핑됩니다 -->
            <input type="number" th:field="*{postId}">

            <label>비밀번호 확인: </label>
            <!-- 2. th:field="*{password}" 사용 -->
            <input type="password" th:field="*{password}" placeholder="비밀번호 입력" required>

            <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?')">삭제하기</button>
        </form>
</div>
</html>