/* 1. 기본 기판 설정 (Root),전체시스템 */
:root {
    --primary-color: #2c3e50;
    --bg-color: #f8f9fa;
    --border-color: #dee2e6;
}

body {
    margin: 0;
    font-family: 'Pretendard', sans-serif;
    background-color: var(--bg-color);
}