<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">

<head>
    <title>메인</title>
</head>
<!--board-name,board-item--->
<body>
<div layout:fragment="content">
    <!-- 반복문이 도는 구역에 클래스 부여 -->
    <div th:each="board : ${boardList}" class="board-item">
        <p class="board-name">[[${board.name}]]</p>
        <p>설명: [[${board.description}]]</p>
        <p>
            <small>ID: [[${board.boardId}]] | 순서: [[${board.sortOrder}]]</small>
        </p>
        <p>상태: 유저([[${board.userActive}]]) / 관리([[${board.adminActive}]])</p>
    </div>

    <p th:if="${#lists.isEmpty(boardList)}">데이터가 비어있습니다.</p>
</div>
</body>
</html>